@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    font-family:'Roboto',sans-serif;
 background: #000000;
background: linear-gradient(180deg, rgba(0, 0, 0, 1) 20%, rgba(43, 94, 120, 1) 51%, rgba(0, 0, 0, 1) 62%);
}

header {
    background-image: url(/trilha-css-desafio-01/assets/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    padding: 40px;
    
    
}
.banner-content {
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;  
}

.logo img {
    width: 100%;
}

.banner-content h1 {
    background: linear-gradient(to top, #3175cf, #2b96d4);
      background-clip: text;
      color: transparent;
      font-weight: 900;
      text-transform: uppercase;   
      font-size: 3rem;
}

.banner-content p {
    color: #fff;
    font-size: 1.5rem;
    width: 580px;
    margin: 10px;
    font-weight: lighter;
    
}

.banner-content button {
    width:auto ;
    height: 40px;
    margin: 10px 0px 20px;
    padding: 10px 20px;
    border: solid 2px rgb(9, 178, 235);
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 0.8rem;
    background-color: black; 
    background: linear-gradient(to top, #3175cf, #2b96d4);
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;
    border-top: solid 1px #2b96d4;
    
}

#course-content h2{
    background: linear-gradient(to top, #3175cf, #2b96d4);
      background-clip: text;
      color: transparent;
      text-transform: uppercase;
      font-size: 2.5rem;
      padding: 40px;
      margin-top: 20px;
      letter-spacing:4px;
      font-weight: 400;
}

#course-content p {
    width: 800px;
    font-size: 1rem;
    color: #fff;
    font-weight: 100;
}

.modules-list {
    height: 35vh;
    padding: 10px;
    margin: 10px 0px 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;

}

.module {
     background: linear-gradient(to top, #020202, #454546);
    border: solid 1px  rgb(9, 178, 235);
    border-radius: 50px;
    width: 500px;
    height: 50px;
    padding: 10px;
    color: white;
    font-weight: 200;
}

.module span {
    background: linear-gradient(to top, #3175cf, #2b96d4);
      background-clip: text;
      color: transparent;
      font-weight: 300;
}

#transform-world {
  width: 100vw;
  height: 40vh;
  background-image: url(/trilha-css-desafio-01/assets/images/woman-code.png);
  background-size: cover;
  background-attachment: fixed;
  border-top: solid 1px #2b96d4;
  border-bottom: solid 1px #2b96d4;
  
}

#transform-world p {
    width: 230px;
    margin: 100px 0px 0px 120px;
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: 4px 3px 2px rgba(17, 45, 201, 0.6);
    text-transform: lowercase;
    color: #fff;
    text-align: left;
}

#professional-challenges {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    
}

#professional-challenges h2 {
    background: linear-gradient(to top, #3175cf, #099df3);
      background-clip: text;
      color: transparent;
      text-transform: uppercase;
      font-size: 2.5rem;
      padding: 40px;
      margin-top: 20px;
      letter-spacing:4px;
      width: 900px;
      font-weight: 500;
}

#professional-challenges img {
  object-fit: cover;
  width: auto;
  height: auto;
  
}

#professional-challenges p {
    width: 800px;
    color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    font-weight: 200;
}
footer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(43, 94, 120, 1) 76%, rgba(0, 0, 0, 1) 100%);
    border: solid 1px #2b96d4;
}
.dio-logo {
max-width: 30vw;
object-position: center center;
}

footer p {
    color: #fff;
    font-weight: 200;
}

footer p a {
    text-decoration: none;
    color: #2b96d4;
    font-weight: bold;
}